body {
    background-color: #474163;
    margin: 0;
}

.service-icon {
    font-size: 3rem;
}

.service-icon.car {
    color: #007bff;
    /* Azul para Car Front */
}

.service-icon.tools {
    color: #28a745;
    /* Verde para Tools */
}

.service-icon.star {
    color: #ffc107;
    /* Amarillo para Star */
}

.text-center {
    color: white;
}

.mb-3 {
    color: white;
}

/* Estilo general del modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #333333;
}

body.dark-mode .navbar .nav-link {
    color: #ffffff;
}

body.dark-mode .dropdown-menu {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode .dropdown-item:hover {
    background-color: #555555;
}

body.dark-mode .service-icon.car {
    color: #007bff;
}

body.dark-mode .service-icon.tools {
    color: #28a745;
}


/* Botón en modo claro */
#themeToggle {
    background-color: #ffffff;
    /* Fondo blanco */
    color: #000000;
    /* Texto negro */
    border: 1px solid #000000;
    /* Borde negro */
}

/* Botón en modo claro al pasar el ratón */
#themeToggle:hover {
    background-color: #e9ecef;
    /* Fondo gris claro */
    color: #000000;
    border-color: #000000;
}

/* Estilo general del modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #333333;
}

body.dark-mode .nav-link {
    color: #ffffff;
}

body.dark-mode .dropdown-menu {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode .dropdown-item:hover {
    background-color: #555555;
}

/* Botón en modo oscuro */
body.dark-mode #themeToggle {
    background-color: #333333;
    /* Fondo gris oscuro */
    color: #ffffff;
    /* Texto blanco */
    border: 1px solid #ffffff;
    /* Borde blanco */
}

/* Botón en modo oscuro al pasar el ratón */
body.dark-mode #themeToggle:hover {
    background-color: #444444;
    /* Fondo gris un poco más claro */
    color: #ffffff;
    border-color: #ffffff;
}

#clock {
    font-size: 1rem;
    /* Tamaño del texto */
    font-weight: bold;
    color: inherit;
    /* Se adapta al modo oscuro/claro */
    display: flex;
    align-items: center;
    /* Centrado vertical */
}

#navbarLogo {
    width: 40px;
    /* Ancho del logo */
    height: auto;
    /* Mantén la proporción */
    margin-right: 8px;
    /* Espacio entre el logo y el texto */
}

.card img {
    object-fit: cover;
    height: 200px;
    /* Ajusta la altura de las imágenes */
}

.card-body {
    text-align: center;
    background-color: #000000;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

h1.display-4 {
    font-weight: bold;
    color: #ffffff;
}

#modalImage {
    object-fit: cover;
    height: 100%;
}

.carousel-item img {
    cursor: pointer;
}

#changeImagesBtn {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    /* Asegúrate de que el botón esté encima de la imagen */
}

#changeImagesBtn i {
    transition: transform 0.3s;
}

#changeImagesBtn:hover i {
    transform: scale(1.1);
    /* Efecto de hover para agrandar la flecha */
}

.table {
    transition: background-color 0.5s ease;
}


